<html>
<% include partials/head %>
<body>
    <div class="container">
        <h1 class="jumbotron"><%=app%></h1>
        <ul style="list-style:none; text-align:center;">
            <li>
                <a href="auth/google" class=" btn btn-lg btn-social btn-google">
                    <span class="fa fa-google"></span> Entre com sua conta Google
                </a>
            </li>
        </ul>
    </div>
</body>

</html>
