<html>
<% include partials/head %>
<body>
    <div class="container">
        <h1 class="jumbotron"><%=app%></h1>
        <ul style="list-style:none;">
            <li>
                <a href="/auth/google" class="btn btn-lg btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Entre com sua conta no Google
                </a>
            </li>
            <li>
                  <a href="/auth/twitter" class="btn btn-lg btn-block btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> Entre com sua conta no Twitter
                  </a>
            </li>
            <li>
                  <a href="/auth/facebook" class="btn btn-lg btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Entre com sua conta no Facebook
                  </a>
            </li>
        </ul>
    </div>
</body>

</html>
