<html>

<head>
    <meta charset="utf-8">
    <title>socialAggregator</title>
    <link rel="icon" href="./img/icon.png" />
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/bootstrap-social.css" />
    <link rel="stylesheet" href="./css/font-awesome.min.css" />
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="jumbotron"><%=app%></h1>
        <ul style="list-style:none; text-align:center;">
            <li>
                <a href="#" class=" btn btn-lg btn-social btn-google">
                    <span class="fa fa-google"></span> Entre com sua conta Google
                </a>
            </li>
        </ul>
    </div>
</body>

</html>
